head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(href='vendor/css/materialize.css', rel='stylesheet')
  link(href='css/master.css', rel='stylesheet')
  script(src='vendor/js/jquery.js')
  script(src='vendor/js/materialize.js')
